@import "reset.css";

html {
  font-size: 62.5%;
}

.blind {
  display: none;
}

body {
  background-color: #fff;
  color: #666;
  font-family: "맑은 고딕", 돋움, tahoma;
  font-size: 1.2rem;
  letter-spacing: -0.5px;
}

nav {
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 8rem;
  border-bottom: 1px solid #d6d6d6;
  background-color: #fff;
  display: flex;
  justify-content: center;
}

nav .wrap {
  width: 118rem;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

nav #logo {
  margin-left: 2.4rem;
  height: 100%;
  display: flex;
}

nav .logo-place {
  width: 4rem;
  height: 4rem;
  margin: 2rem 1.6rem 2rem 0;
}

nav #logo .logo-img {
  width: 100%;
  height: 100%;
  background-image: url(./nav.png);
  background-repeat: no-repeat;
}

nav p {
  display: flex;
  flex-direction: column;
}

nav .name {
  margin: 2rem 0 0 0.3rem;
  line-height: 1.5rem;
  font-size: 1.2rem;
  color: #c62917;
  font-weight: bold;
}

nav .subname {
  line-height: 25px;
  color: #292929;
  font-size: 22px;
}

nav #menu {
  width: 60rem;
  margin: 0;
  height: 100%;
  text-align: center;
  display: flex;
  align-content: center;
  justify-content: space-around;
  align-items: center;
}

nav #menu li {
  margin: 1 1.2rem;
  height: 7.6rem;
  line-height: 7.6rem;
}

nav #menu li a {
  color: #444;
  font-size: 1.6rem;
  font-weight: bold;
}

nav #menu li a:hover {
  color: #c62917;
}

nav #menu .active {
  padding-bottom: 2.8rem;
  border-bottom: 4px solid #c62917;
  color: #c62917;
}

nav #account {
  height: 100%;
  margin-right: 2.4rem;
  padding: 2rem 0;
  display: flex;
}

nav #account .message {
  margin-left: 0.4rem;
  height: 4rem;
  width: 4rem;
  line-height: 4rem;
  border: 1px solid #d6d6d6;
  border-radius: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav #account .message-icon {
  background-image: url(./icn_m_chat_gray800_light.png);
  background-repeat: no-repeat;
  width: 2.4rem;
  height: 2.4rem;
}

nav #account .my {
  margin-left: 0.4rem;
  height: 4rem;
  width: 4rem;
  line-height: 4rem;
  border: 1px solid #d6d6d6;
  border-radius: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav #account .my-icon {
  background-image: url(./icn_m_account_gray800_light.png);
  background-repeat: no-repeat;
  width: 2.4rem;
  height: 2.4rem;
}

#submenu {
  margin-top: 8rem;
  border-bottom: 1px solid #d6d6d6;
  background-color: #f2f2f2;
  width: 100%;
  height: 23rem;
  padding: 1.5rem;
  display: flex;
  justify-content: space-around;
}

#submenu .wrap {
  display: flex;
  align-items: flex-start;
  align-content: center;
}

#submenu .divider {
  margin-right: 1.5rem;
  width: 1px;
  height: 20rem;
  background: #e3e3e3;
}

#submenu .group {
  margin-right: 1.5rem;
  width: 13rem;
  display: flex;
}

#submenu .group li {
  font-size: 1.3rem;
  line-height: 2.5rem;
  color: #444;
  text-overflow: ellipsis;
}

#container {
  margin: 3rem auto 2.5rem auto;
  width: 113rem;
  display: flex;
}

#container .leftside {
  width: 17.5rem;
  margin-right: 1.5rem;
}

#container .login-box {
  width: 17.5rem;
  height: 22rem;
  padding: 1.5rem;
  background: #f9f9f9;
  margin-bottom: 0.5rem;
  border: 1px solid #d6d6d6;
  display: flex;
  flex-direction: column;
  align-content: center;
}

#container .account-display {
  display: flex;
  flex-direction: column;
}

#container .picture {
  margin: 1.5rem auto;
  width: 6rem;
  height: 6rem;
  border-radius: 0.6rem;
}

#container .nickname {
  margin-bottom: 0.5rem;
  line-height: 2rem;
  overflow: hidden;
  color: #393939;
  font-size: 1.8rem;
  font-weight: bold;
  text-align: center;
}

#container .school {
  line-height: 1.5rem;
  color: #a6a6a6;
  font-size: 1.2rem;
  text-align: center;
}

#container .buttons {
  margin-top: 1.5rem;
  display: flex;
}

#container .buttons li {
  width: 50%;
  height: 2.5rem;
  border: 1px solid #d6d6d6;
  border-radius: 0.3rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

#container .buttons .info {
  margin-right: 0.5rem;
}

#container .buttons a {
  line-height: 2.5rem;
  color: #737373;
  font-size: 1.3rem;
}

#container .card {
  margin-bottom: 0.5rem;
  border: 1px solid #d6d6d6;
  background: #f9f9f9;
}

#container .menus {
  display: flex;
  flex-direction: column;
}

#container .menus a {
  padding: 1rem 0 1rem 3.7rem;
  border-bottom: 1px solid #e3e3e3;
  line-height: 2rem;
  color: #444;
  font-size: 1.4rem;
  background-repeat: no-repeat;
  background-size: 1.2rem auto;
  background-position: 1.5rem center;
}

#container a.myarticle {
  background-image: url(./container.community.card.myarticle.png);
}
#container a.mycommentarticle {
  background-image: url(./container.community.card.mycommentarticle.png);
}
#container a.myscrap {
  background-image: url(./container.community.card.myscrap.png);
  border-bottom: 0;
}

#container .leftside .banners {
  width: 100%;
  height: 11.8rem;
}

#container .ban {
  height: 11.8rem;
}

#container .main {
  width: 60.5rem;
  margin-right: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#container .banners {
  width: 60rem;
  height: 16rem;
  margin-right: 0.5rem;
  background: #888;
  overflow: hidden;
  margin-bottom: 1.5rem;
}

#container .main .card {
  margin: 0 0.5rem 0.5rem 0;
  width: 29.5rem;
  border: 1px solid #e3e3e3;
  overflow: hidden;
  background-color: #fff;
}

#container .main h3 {
  padding: 1rem;
}

#container .main h3 a {
  line-height: 2rem;
  color: #c62917;
  font-size: 1.4rem;
  font-weight: bold;
}

#container .main .list {
  padding: 1rem;
  border-top: 1px solid #e3e3e3;
  display: flex;
  justify-content: space-between;
}

#container .list p {
  height: 1.7rem;
  line-height: 1.8rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #444;
  font-size: 1.4rem;
}

#container p.time {
  margin-left: 1rem;
  height: 1.7rem;
  line-height: 1.8rem;
  color: #a6a6a6;
  font-size: 1.1rem;
  letter-spacing: 0;
}

#container .article {
  padding: 1rem;
  border-top: 1px solid #e3e3e3;
  display: flex;
  flex-direction: column;
}

#container .article p {
  margin-bottom: 0.5rem;
  height: 3.6rem;
  line-height: 1.8rem;
  word-spacing: normal;
  overflow: hidden;
  color: #444;
  font-size: 1.3rem;
}

#container .reaction .time {
  margin: 0 1rem 0 0;
  height: 1.4rem;
  line-height: 1.4rem;
  color: #a6a6a6;
  font-size: 1.1rem;
  letter-spacing: 0;
}

#container .reaction {
  display: flex;
}

#conatainer .reaction .status {
  display: flex;
}

#container .vote {
  color: #c62917;
  background-image: url(./container.articles.vote.png);
  margin-right: 0.5rem;
  padding-left: 1.5rem;
  height: 1.4rem;
  line-height: 1.4rem;
  font-size: 1.1rem;
  letter-spacing: 0;
  background-repeat: no-repeat;
  background-size: 1.1rem 1.1rem;
  background-position: left center;
}

#container .comment {
  color: #0ca5af;
  background-image: url(./container.articles.comment.png);
  margin-right: 0.5rem;
  padding-left: 1.5rem;
  height: 1.4rem;
  line-height: 1.4rem;
  font-size: 1.1rem;
  letter-spacing: 0;
  background-repeat: no-repeat;
  background-size: 1.1rem 1.1rem;
  background-position: left center;
}

#container .rightside {
  width: 32.5rem;
  background: #888;
}
